.display {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 0.73rem;
  background-color: inherit;
  border: none;
  text-align: end;
  outline: none;
  color: white;

  font-weight: 800;
  font-size: 1.5rem;
}
